<html>
  <head>
    <title>Express PostgreSQL EJS Example</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="/profile">See Profile</a>
    <a href="/profile/edit">Edit Profile</a>
  </body>
</html>
